/* google font style */
body{
    font-family: "Open Sans", sans-serif;
    font-weight: 800;

}

.text-primary{
    color:#FD6E0A;
}
.btn-primary{
    background:#FD6E0A;
    border-radius: 5px;
    border:0;
    color: white;
    font-size: 20px;
    padding: 15px 35px;
}

.section-title{
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;

}
.section-description{
    color: #757575;
    text-align: center;
    font-size: 18px;
}

/* nav related style */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}

.nav-title{
    font-size: 45px;
    font-weight: 800;
}

nav ul{
    display: flex;
    align-items: center;
}

nav li{
    list-style: none;
    margin-right: 100px;
}

nav  a {
    text-decoration: none;
    color: #474747;
}

/* Header related style */

.header{
    background-color: #fff8f3;
    background-image: url('/images/header_bg.png'), url('/images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, top left;
}

.banner{
    padding:30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-content{
    max-width: 700px;
}

.profile-picture{
    width: 500px;
} 

.banner-greeting{
    font-size: 35px;
    margin-bottom:0;
}
.banner-title{
    font-size: 55px;
    margin-top: 5px;
    margin-bottom: 20px;
}
.banner-description{
    font-size: 18px;
    color: #181818;
    font-weight:lighter;
}

/*  nav saction end */

/* main section start */

main{
    max-width: 1300px;
    margin:0 auto;
}
main saction{
    margin-top:130px;
}
.about{
    padding:130px;
    border-radius: 10px;
    background: #fff8f3;
    margin: 130px 0px ;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about-info{
    text-align: center;
}

/* what i do saction */
#what-i-do-description{
    padding: 30px 130px;
}

.skills-container{
    display: flex;
    gap: 30px;
    /* margin-bottom: 50px; */
}
.skill{
    padding: 30px;
    background: #fff;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.06);
}
.skill-description{
    color: #757575;
}

/* resume section start */

.resume-column-title{
     color: #474747;
     font-size: 30px;
     font-weight: 700;
}

.resume-container{
    display: flex;
    gap: 30px;
}

.resume-item-title{
    color: #474747;
    font-size: 25px;
    margin-bottom: 10px;
    
}
.resume-item-institute{
    margin-bottom: 20px;
    margin-top: 0px;
    color: #474747;
}
.resume-item-description{
    color: #474747;
}
.resume-column hr{
    margin: 30px 0px;
}

.download-cv{

    text-align: center;
    margin-top: 50px;
}

/* footer section start */

footer{
    display: flex;
    gap: 100px;
    background: #fff8f3;
    padding: 130px;
    margin-top: 100px;

}

.footer-column{
    width: 50%;
    padding: 50px;
}
.social-links a{
    margin-right: 25px;
}
/* contact form  css */
.contact input[type="text"], .contact input[type="email"], textarea {
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;
    color: #757575;
    border-radius: 5px;
    background: #fff;
    border: 0;
    width: 100%;
}

